body {
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	background-color: #333333;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 16px;
}
* {
	box-sizing: border-box;
}
header {
	/*background-color: #01200F;*/
    padding: 15px 0 25px 0;
    background: url("http://sebastianlane.ca/projects/guitarcatalog/images/guitar_banner_darker.jpg") no-repeat center;
    background-size: cover;
    height: 220px;
}
/*.darker-header {
	background-color: #1a1a1a;
    height: 100%;
    width: 100%;
    padding: 15px 0 25px 0;
    opacity: 0.4;
}*/
.header-title {
	text-align: center;
	color: #98FB98;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 42px;
	line-height: 2;
	margin: 5px 0 -12px 0;
}
@media (max-width: 767px) {
	.header-title {
		font-size: 32px;
	}
}
@media (max-width: 550px) {
	.header-title {
		font-size: 24px;
	}
	nav ul li {
		margin-bottom: 5px;
	}
}
h1 {
	color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 38px;
	margin-bottom: 15px;
}
h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 18px;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	padding: 0;
	margin-top: 15px;
}
nav ul li {
	margin-right: 30px;
	color: #FFF;
	display: inline-block;
}
nav ul li a {
	font-size: 20px;
}
nav ul li a:hover {
	color: #98FB98;
	text-decoration: none;
}
nav ul li:last-child {
	margin-right: 0;
	margin-bottom: 20px;
}
a {
	color: #FFF;
}
a:hover {
	color: #82B87F;
}
.errorMessage {
	color: #82B87F;
	margin-top: 10px;
}
#description {
	height: 150px;
	/*min-height: 100px;*/
}
.delete:hover {
	text-decoration: none;
}
.editSelect {
	display: block;
	margin: 0 auto 40px auto;
	width: 100%;
	max-width: 300px;
	color: #000;
}
.edit-page-image {
	width: 100%;
	max-width: 600px;
	height: auto;
	display: block;
    margin: 0 auto;
}
input[type="radio"] {
	width: 20px!important;
	height: 20px!important;
	margin-right: 20px;
}
label {
	display: block;
}
input[type="text"], input[type="password"] {
	color: #000;
}
.edit-guitar-button {
	margin-right: 15px;
}
.login-button {
	margin-top: 10px;
}
.sidebar {
	margin-top: 26px;
}
.search-box {
	margin-bottom: 30px;
}
.manufacturer-image, .thumb-image {
	margin-bottom: 40px;
}
.manufacturer-image {
	width: 100%;
	height: auto;
}
.thumb-image {
	width: 100%;
	max-width: 350px;
	height: 125px;
  	transition: .5s ease;
  	backface-visibility: hidden;
 	border: 5px solid #006400;
}

.guitar-overlay {
	position: relative;
}
.hover-image-title {
	display: none;
    color: #FFF;
    opacity: 0.6;
    width: 100%; 
    height: 125px;
    position: absolute;
    padding: 40px 15px 0 15px;
    background-color: #333333;
    font-size: 16px;
    font-weight: bold;
    z-index: 5;
    max-width: 350px;
    margin-top: -165px;
}
.hover-image-link:hover .hover-image-title {
	display: block;
}

#searchform {
	width: 50%;
    position: absolute;
    top: 30px;
}
iframe {
	height: 375px;
	width: 90%;
}

.filter-links {
	display: block;
}
.display-guitar {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 80%;
}
@media (max-width: 551px) {
	#searchform {
	    margin: -36px auto 0 auto;
	}
}
@media (max-width: 767px) {
	.thumb-image {
		display: inline-block;
	}
	#searchform {
		position: inherit;
    	margin: -39px auto 0 auto;
	    width: 90%;
	}
	h1 {
		padding-top: 40px;
	}
	p {
		-webkit-margin-before: 0px;
	}
	.filter-links {
		display: none;
	}
	nav ul li {
		display: block;
		margin-right: 0;
	}
	iframe {
		height: 250px;
		width: 100%;
	}
	.display-guitar {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 991px) {
	.manufacturer-image {
		height: auto;
	}
}
@media (min-width: 1500px) {
	.thumb-image {
		height: 150px;
	}
	.hover-image-title {
		margin-top: -190px;
		height: 150px;
	}
}
.display-info-label {
	color: #7FB069;
}
.iframe-margin {
	margin-top: -20px;
}